@mixin border-radius-4px {
  border-radius: 4px;
}

@mixin inset-shadow-4px {
  box-shadow: inset 1px 1px 4px black;
}

html, body {
  color: white;
  // background-color: darkgray;
  box-sizing: border-box;
}

.yellow-active {
  color: $yellow-active;
}
.yellow-inactive {
  color: $yellow-inactive;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1370px;
  }
}

a {
  color: $yellow-active;
  transition: all .5s;
}

a:hover {
  text-decoration: none;
  color: $yellow-inactive;
}

h1 {
  font-size: 2rem;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 12px;
  padding-top: 8px;
  // border: 2px solid $yellow-inactive;

  background-color: #6a6f4d;
  box-shadow: inset 0 0 8px grey;
  @include border-radius-4px;
  background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgb(121 121 121) 8%, rgb(70 68 69) 92%, rgba(231,231,231,1) 96%, rgb(167 163 160) 100%);

  // background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgb(76 74 75) 4%, rgb(88 87 86) 49%, rgb(71 70 70) 96%, rgba(255,255,255,0) 100%);
}

h2 {
  font-size: 1.6rem;
  background-color: white;
  color: #d5ce5e;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 8px;
  border-radius: 8px;
  box-shadow: inset 1px 1px 2px #292005;
  background: linear-gradient(165deg, #6a6f4d, #999f70 10%, #677032 50%, #949a70 90%, #6a6f4d);
  // mix-blend-mode: hard-light;
  // text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}
// h1 {
//   font-size: 2rem;
  // background: rgb(242,242,242);
  // background: -moz-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgba(104,143,141,1) 8%, rgba(104,143,141,1) 92%, rgba(231,231,231,1) 96%, rgba(104,143,141,1) 100%);
  // background: -webkit-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgba(104,143,141,1) 8%, rgba(104,143,141,1) 92%, rgba(231,231,231,1) 96%, rgba(104,143,141,1) 100%);
  // /* background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgba(104,143,141,1) 8%, rgba(104,143,141,1) 92%, rgba(231,231,231,1) 96%, rgba(104,143,141,1) 100%); */
  // background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgb(121 121 121) 8%, rgb(70 68 69) 92%, rgba(231,231,231,1) 96%, rgb(167 163 160) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#688f8d",GradientType=1);

  // background: rgb(242,242,242);
  // background: -moz-linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(104,143,141,1) 4%, rgba(255,255,255,1) 49%, rgba(104,143,141,1) 96%, rgba(255,255,255,0) 100%);
  // background: -webkit-linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(104,143,141,1) 4%, rgba(255,255,255,1) 49%, rgba(104,143,141,1) 96%, rgba(255,255,255,0) 100%);
  /* background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(104,143,141,1) 4%, rgba(255,255,255,1) 49%, rgba(104,143,141,1) 96%, rgba(255,255,255,0) 100%); */
  /* background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgb(76 74 75) 4%, rgb(203 202 200) 49%, rgb(71 70 70) 96%, rgba(255,255,255,0) 100%); */
  // background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgb(76 74 75) 4%, rgb(88 87 86) 49%, rgb(71 70 70) 96%, rgba(255,255,255,0) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#ffffff",GradientType=1);
  // padding-bottom: 32px;

// }

section {
  // background: #2f3f4e url(/bg/set-tekstura-shariki.jpg) right;
  background: #2f3f4e url(/bg/plastik-70.png);
  background-size: cover;
}


// .page {
  // padding: 8px 16px;
  // background-color: rgb(155 151 148 / 24%);
  // border-radius: 8px;
  // border: 3px solid #747070;
// }

.card {
  box-shadow: 0 0 4px black;
  background-color: rgba(255, 255, 255, 0);
}
.card-gradient {
      /* background-color: white; */
      background: rgb(242,242,242);
    background: -moz-linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(104,143,141,1) 4%, rgba(255,255,255,1) 49%, rgba(104,143,141,1) 96%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(104,143,141,1) 4%, rgba(255,255,255,1) 49%, rgba(104,143,141,1) 96%, rgba(255,255,255,0) 100%);
    /* background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(104,143,141,1) 4%, rgba(255,255,255,1) 49%, rgba(104,143,141,1) 96%, rgba(255,255,255,0) 100%); */
    /* background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgb(76 74 75) 4%, rgb(203 202 200) 49%, rgb(71 70 70) 96%, rgba(255,255,255,0) 100%); */
    background: linear-gradient(0deg,
    rgba(242,242,242,0) 0%,
    rgb(76 74 75) 1%,
    rgb(88 87 86) 3%,
    rgb(71 70 70) 99%,
    rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#ffffff",GradientType=1);
}

.card-gradient-1 {
  // background: rgb(217,210,199);
  // background: -moz-linear-gradient(45deg, rgba(217,210,199,1) 0%, rgba(255,255,255,1) 100%);
  // background: -webkit-linear-gradient(45deg, rgba(217,210,199,1) 0%, rgba(255,255,255,1) 100%);
  // background: linear-gradient(45deg, rgb(128 128 128) 0%, rgb(194 190 190 / 48%) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d2c7",endColorstr="#ffffff",GradientType=1);
}

.card-gradient-2 {
  // background: rgb(175,208,207);
  // background: -moz-linear-gradient(45deg, rgba(175,208,207,1) 0%, rgba(255,255,255,1) 100%);
  // background: -webkit-linear-gradient(45deg, rgba(175,208,207,1) 0%, rgba(255,255,255,1) 100%);
  // background: linear-gradient(45deg, rgb(128 128 128 / 63%) 0%, rgb(194 190 190 / 88%) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afd0cf",endColorstr="#ffffff",GradientType=1);
}

.price_gradient {
  background: rgb(106,111,77);
  background: -moz-linear-gradient(165deg, rgba(106,111,77,1) 0%, rgba(153,159,112,1) 10%, rgba(229,243,146,1) 50%, rgba(153,159,112,1) 90%, rgba(106,111,77,1) 100%);
  background: -webkit-linear-gradient(165deg, rgba(106,111,77,1) 0%, rgba(153,159,112,1) 10%, rgba(229,243,146,1) 50%, rgba(153,159,112,1) 90%, rgba(106,111,77,1) 100%);
  background: linear-gradient(165deg, rgba(106,111,77,1) 0%, rgba(153,159,112,1) 10%, rgba(229,243,146,1) 50%, rgba(153,159,112,1) 90%, rgba(106,111,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a6f4d",endColorstr="#6a6f4d",GradientType=1);
}

.nav-gradient {
  background: rgb(242,242,242);
  background: -moz-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgba(104,143,141,1) 8%, rgba(104,143,141,1) 92%, rgba(231,231,231,1) 96%, rgba(104,143,141,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgba(104,143,141,1) 8%, rgba(104,143,141,1) 92%, rgba(231,231,231,1) 96%, rgba(104,143,141,1) 100%);
  /* background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgba(104,143,141,1) 8%, rgba(104,143,141,1) 92%, rgba(231,231,231,1) 96%, rgba(104,143,141,1) 100%); */
  background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(231,231,231,1) 4%, rgb(121 121 121) 8%, rgb(70 68 69) 92%, rgba(231,231,231,1) 96%, rgb(167 163 160) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#688f8d",GradientType=1);
}

.card-head {
  color: #5e543b;
  // background-color: $yellow-inactive;
  // box-shadow: inset 1px 1px 4px black;
  @include inset-shadow-4px;
  @include border-radius-4px;
  background: linear-gradient(165deg, rgb(106, 111, 77) 0%, rgb(153, 159, 112) 10%, rgb(103 112 50) 50%, rgb(148 154 112) 90%, rgb(106, 111, 77) 100%);
}
.card-body {
  padding: 0.51rem;
  margin-top: 8px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

}
